body {
  font-size: 14px;
}

/* NAVIGATION BAR */

nav {
  background-color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}

h1 {
  font-family: sans-serif;
  font-size: 2em;
}

/* PAGE ITEM LIST */

section {
  margin: 0 auto;
  width: 60%;
  padding-top: 90px;
}

.example, h3 {
  padding-top: 30px;
  text-align: center;
}

h3 {
  font-size: 1.3em;
}

div.element {
  background-color: green;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}

div.blue {
  background-color: blue;
}

div.red {
  background-color: red;
}

div.orange {
  background-color: orange;
}
